*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    padding: 2rem 4rem;
    gap: 4rem;
    height: 100vh;
    border: 1px solid black;
}

.box{
    width: calc(100%/2);
    height: 100%;
    border: 3px dashed black;
    padding: 1rem 2rem;
}

.item{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid black;
    background-color: lightblue;
    margin-bottom: 1rem;
}

.item:hover{
    cursor: grab;
}